---
---

@import "top-boilerplate";
@import "responsive";
@import "fonts";
@import "navigation";
@import "default_author";
@import "bottom-boilerplate";

.transition-loader {
  position: fixed;
  height: 2px;
  width: 90%;
}
.transition-loader::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left center;
}
.page-is-changing .transition-loader::before {
  transform: scaleX(1);
}

body::after, body::before {
  content: '';
  display: block;
  height: 50vh;
  width: 100%;
  position: fixed;
  left: 0;
  background-color: #8790dd;
  transition: transform 200ms;
  z-index: 9999;
  transform-origin: top left;
}
body::before {
  top: 44px;
  transform: scale(1, 0);
}
body::after {
  bottom: 0;
  transform: translateY(100%);
}
body.page-is-changing::before {
  transform: scale(1, 1);
}

body.page-is-changing::after {
  transform: translateY(0);
}
