---
---

@import "top-boilerplate";
@import "responsive";
@import "fonts";
@import "navigation";
@import "default_author";
@import "bottom-boilerplate";

body::after,
body::before {
  content: "";
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
  background-color: #8790dd;
  transition: transform 200ms;
  z-index: 9999;
  transform-origin: top left;

  @media screen {
    height: 50vh;
  }
}
body::before {
  top: 3.3rem;
  transform: scale(1, 0);
}
body::after {
  bottom: 0;
  transform: translateY(100%);
}
body.page-is-changing::before {
  transform: scale(1, 1);
}

body.page-is-changing::after {
  transform: translateY(0);
}

@keyframes loading-bar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.page-is-changing .transition-loader::before {
  animation: loading-bar 2s infinite;
}

.transition-loader {
  position: fixed;
  top: 3.3rem;
  height: 5px;
  width: 100%;
  z-index: 9999;
}
.transition-loader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform-origin: left center;
  z-index: 9999;
  transform: scaleX(0);
  background-color: hsl(233.6, 56%, 58.8%);
}
