---
---

@import "top-boilerplate";
@import "responsive";
@import "fonts";
@import "navigation";
@import "default_author";
@import "bottom-boilerplate";

#wrapper {
    width: 90%;
    @include responsive(ipad-portrait) {
        width: 40em;
    }
    margin: 3em auto;
    margin-top: 6em;
}
.post p {
    width: 100%;

    @include responsive(ipad-portrait) {
        width: 40em;
    }
}
.post ul {
    width: 95%;
    margin: 0 auto;
    @include responsive(ipad-portrait) {
        width: 32em;
    }
}
.post img {
  width: 100%;
}
