---
---
@import "normalize";
@import "top-boilerplate";
@import "responsive";
@import "fonts";

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
    // http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
}
strong {
    font-family: "Alegreya";
    font-weight: 700;
}

em {
    font-family: "Alegreya";
    font-weight: 400;
    font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility; //enables kerning and ligatures
    color: #222;
}
p, li {
    text-rendering: optimizeLegibility;
}
p {
    margin: 1em auto;
}
p + p {
    text-indent: 1em;
    margin-top: -1em;
}
$small-caps-color: #484a51 !default;
$small-caps-weight: 600 !default;
@mixin smallcaps($color, $font-weight) {
	// depends on the font family.
	// some font-families don’t support small caps
	// or don’t provide them with their web font.
	font-variant: small-caps;
	font-weight: $font-weight;
	text-transform: lowercase;
	color: $color;
}
acronym, abbr {
	@include smallcaps($small-caps-color, $small-caps-weight);
	&:hover {
		cursor: help;
	}
}
@mixin white-space($wrap-space) {
	@if $wrap-space == 'pre-wrap' {
		white-space: #{-moz-}$wrap-space; // Firefox 1.0-2.0
		white-space: $wrap-space;       // current browsers
	} @else {
		white-space: $wrap-space;
	}
}

pre code {
    word-wrap: normal;
    @include white-space(pre-wrap);
}

pre {
    @include white-space(pre);
}

code {
    @include white-space(pre);
    font-family: monospace;
}

body {
    font-family: "Alegreya";
    font-weight: 400;
    line-height: 1.382;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    background-color: #22252e;

    font-size: 1.1em;
}
section {
    width: 90%;
    @media only screen and (min-width: 54em) {
        width: 40em;
    }
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
   font-family: "Alegreya Sans";
   font-weight: 700;
}
ul {
    padding-left: 0;
}
a {
    color: #0b2292;

}
a:visited {
    color: #0b2292;
}
a:hover {
    color: #a40612;
}
.ampersand {
    font-family: "Alegreya";
    font-style: italic;
}
//4 - 5 - 6.5 - 8 - 10.5 - 13 - 17 - 21 - 27.5 - 34 - 44.5 -
//55 - 72 - 89
#frame {

    width: 100%;
    margin: 2em auto;
    padding-top: 2em;
    padding-bottom: 2em;
    @media only screen and (min-width: 54em) {
        width: 50em;
        padding: 2em;
        margin-top: 5.5em;
        margin-bottom: 5.5em;
    }

    background-color: #f2f3f3;
    color: #22252e;
}

#intro {
    h1 {
        font-size: 2.1em;
    }

    #accroche {
        font-size: 1.7em;
    }
    #portrait_aurelien {
        width: 12.35em;
        margin: 1em auto;
        display: block;
        @media only screen and (min-width: 54em) {
            float: right;
            margin: 0;
            margin-left: 1em;
        }
    }
}
.email {
    font-size: 1em;
    margin-top: -1.5em;
    margin-bottom: 3em;
    font-style: italic;
}
#skills, #education, #experience, #portfolio {
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: 900;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
    p + p {
        margin-top: -1em;
    }
}

@import "bottom-boilerplate";