_site
.sass-cache
_stuff/*
*.mov
npm-debug.log
.DS_Store
_vendor
.bundle
.env
notes/*
./notes/Conversations_For_Action.md
./notes/Flow The Psychology of Happiness.html
./notes/How to Win Friends and Influence people.html
./notes/Running lean.html
./notes/Scrum: a Breathtakingly Brief and Agile Introduction.html
./notes/The Elements of Typographic Style.html
./notes/The Flinch.html
./notes/The Miracle Morning.html
./notes/The Personal MBA.html
./notes/The Pragmatic Programmer.html
./notes/Writing GNU Emacs Extensions.html
./books/Conversations_For_Action.md
./books/Flow The Psychology of Happiness.html
