---
layout: default
---
<h1>Notes</h1>

Personal notes on various subjects. THey help me learn and remember
what’s important, hard to grasp…g

<ul>
    {% for page in site.pages %}
      {% if page.url contains '/notes/' %}
    <li><a href="{{ page.url }}">{{ page.url }}</a></li>
      {% endif %}
    {% endfor %}
</ul>

<h1>Sketchnotes</h1>
<ul>
    {% for sketchnote in site.data.sketchnotes %}
    <li>
        <a href="/sketchnotes/{{ sketchnote }}">{{ sketchnote }}</a>
    </li>
    {% endfor %}
</ul>
