---
layout: null
---
{% include header.html %}
{% include navigation.html %}
<div id="wrapper">
  <div id="frame" class="resume">
    <section id="intro" class="clearfix">
      <h1>Aurélien Bottazini</h1>
      <p class="email"><a href="mailto:contact@aurelienbottazini.com"
                         class="print_no_after_content">aurelien.bottazini@gmail.com</a></p>
      <img id="portrait_aurelien" src="./img/Aure&AnneSo.jpg"
        alt="Aurélien and the love of his life: Anne-Sophie!">
      <p id="accroche">
        <strong>
          I am a Web Artisan from France. Here is a little more about me.
        </strong>
      </p>
    </section>
    <section id="skills">
      <h1>Skills</h1>
      <ul id="skill_list" class="clearfix">
        <li>
          <abbr title="JavaScript">JS</abbr>
        </li>
        <li>
          <abbr title="HyperText Markup Language">Html</abbr>
        </li>
        <li>
          <abbr title="Cascading StyleSheets">CSS</abbr>
        </li>
        <li>
          <abbr title="GraphQL">GQL</abbr>
        </li>
        <li>
          Ruby
        </li>
        <li>
          <abbr title="Domain Driven Design">DDD</abbr>
        </li>
      </ul>
      <p>
        <span class="dropcap">E</span>xpert in modern Javascript,
        <abbr title="HyperText Markup Language">HTML</abbr>,
        <abbr title="Cascading Style Sheets">CSS3</abbr>
        and modern <abbr title="Single Page applications">SPA</abbr> frameworks.
        I love Ruby <span class="ampersand">&</span> Ruby on Rails. I have
        experience designing Graphql APIs and using them with web clients.
        I admire Clojure(Script).
        Experienced with MySQL, PostgreSQL and SQLite. I have deployed and
        managed Web applications using Capistrano, <a href="https://www.chef.io/chef/">Chef</a> and Docker. I am
        learning how to take best advantage of the <a href="https://runningserverless.com/">serverless</a> phenomenon.
      </p>
      <p>
        I am proficient with graphic design softwares
        such as Adobe Photoshop <span class="ampersand">&</span> Illustrator. I
        love drawing and typography. In my work I consider standards,
        accessibility, usability, responsiveness.
      </p>
      <p>
        French is my native language. I learned
        English in Florida where I spent 3 years.
        Since then I am fluent in English. I have been working remotely since 2014.
      </p>
    </section>
    <section id="experience">
      <h1>Experience</h1>
      <h2><a href="http://www.doximity.com/">Doximity</a></h2>
      <p>
        <em>Senior Developer [ 2016 - Present ]</em>
      </p>
      <p>
        I work on the configuration of the majority of our Javascript tools.
        This involves customs webpack configurations, unit specs and e2e specs
        and integration of all of those tools with docker. I am helping people
        get started with VueJs and Graphql and leading the way in term of good
        Architectural practices with our VueJS repositories.

        On the backend side (Ruby) I converted many of our old rest APIs to
        Graphql. I also participate in the review of new candidates for our
        Frontend team.
      </p>
      <h2><a href="http://www.clevertech.biz/">CleverTech</a></h2>
      <p>
        <em>Senior Developer [ 2014 - 2016]</em>
      </p>
      <p>
        Helped clients develop their business. Using technologies like:
        Ruby, Ruby on Rails, Javascript, Angular, React, Neo4j.

        I helped Clevertech to move toward the use of containers with Docker.
        I taught a course on <em>Conversations for Actions</em> or How to communicate efficiently with your team and your clients.
      </p>
      <h2>Freelance</h2>
      <p><em>Senior Software Developer [March 2010 - 2013]</em></p>
      <p>
        Development and Deployment of hundreds of
        games on the Apple App Store (~500). Retrieval
        and parsing of Big Data through Ruby scripts
        and PostgreSQL. My work includes:
      </p>
      <ul>
        <li>Metaprogramming of thousands of Active
          Record classes</li>
        <li>PostgreSQL and SQLite3 data insertion,
          extraction <span class="ampersand">&</span> optimisation</li>
      </ul>
      <h2>Metaboli</h2>
      <p><em>Senior Software Developer [January 2009 –
        February 2010]</em></p>
      <p>
        Metaboli is one of the leader in the digital
        distribution of Video Games. I was in charge
        of the Ruby Team in Paris. Responsible of the
        deployment and management of all the Ruby On
        Rails Apps. Refactoring of existing
        Code base with the promotion of Test Driven Development.
        Coordination with the remote Ruby team based
        in Sweden.
        <br />
        I’ve notably accomplished:
      </p>
      <ul>
        <li>
          Complete automation of the deployment
          process. On test servers and on production
          servers with Capistrano. About 50
          Apps.
        </li>
        <li>
          Introduction and promotion of Unit Tests
          in the Ruby Team. Rspec, Cucumber and
          automatic supervision through automated
          tools and Cron tasks.
        </li>
        <li>
          Migration of our code repositories from
          Subversion to Git.
        </li>
      </ul>

      <h2>Nomads PER</h2>
      <p>
        <em>
          Software Developer [August 2007 – December
          2008]
        </em>
        <p>
          A startup I created with two friends from
          College. Design and Development of a Ruby on
          Rails app. Interaction with Web services like
          Amazon S3 and Paypal. Unit Tests with Rspec.
        </p>
        <h2>Lucca</h2>
        <p><em>Junior Software Developer [March 2006 – March
          2007]</em></p>
        <p>A small but dynamic web Agency based in Paris. For one of our
          client, I was responsible of the design and
          development of an excel-like web application for sorting and
          presenting thousands of students. Technologies
          used: <abbr title="Asynchronous Javascript and XML">AJAX</abbr>, MySQL,
          <abbr title="Hypertext Preprocessor">PHP</abbr>.</p>
    </section>
    <section id="education">
      <h1>Education</h1>
      <h2><a href="http://www.fit.edu/">Florida Institute of Technology</a></h2>
      <p>
        <em>Bachelor of Science in Computer Science [DEC
          2005]</em><br />
        <em>Certificate of appreciation — 2006 ACM Southeast Conference.</em>
      </p>
      <p>
        Coursework includes: Data structures, Algorithms,
        Design Patterns, Operating System Concepts, Visual
        Graphics, Databases.
      </p>
      <h2><a href="https://www.edx.org/">EDX</a></h2>
      <ul>
        <li>
          <a href="./files/Certificate%20-%20Certificate%20Tackling%20the%20Challenges%20of%20Big%20Data.pdf">
            Tackling the Challenges of Big Data
          </a>
        </li>
        <li>
          <a href="./files/Certificate%20-%20Design%20and%20Development%20of%20Educational%20Technology.pdf">
            Design and Development of Educational Technology
          </a>
        </li>
        <li>
          <a href="./files/Certificate%20-%20Introduction%20to%20Game%20Design.pdf">
            Introduction to Game Design
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>
{% include footer.html %}
