---
---

@import "top-boilerplate";
@import "responsive";

body {
	background-color: #081724;
	color: #bad6e2;

        @include responsive(kindle-nook-portrait) {
            font-size: 1.3em;
        }
}
h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    color: #ff694d;
    margin-bottom: 0;
}
h3 {
    display: block;
    width: 87.266666667%;
    margin: 1em auto;
    margin-top: 1.6em;
}
h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 1.14em;
    text-align: center;
    color: #2872b2;
    margin-top: 0;
}
h3 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #2872b2;
}
strong {
    color: #f5b55f;
}
a {
    color: #96a5d9;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
a:hover {
    color: #ff694d;
}

.sticky {position:fixed; top:0;}
#menu {
    padding-left: (38.2%/2/2);
    background-color: #033340;
    width: 100%;
}
#menu ul {
    padding: 0;
    margin: 0;
    padding-top: 0.382em;
    padding-bottom: 0.382em;
    list-style-type: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.8em;
    font-weight: 400;

}
#menu ul li {
    float: left;
    display: block;
    padding-left: 1em;

}
#menu li a {
    text-decoration: none;
}

#description {
    margin-top: 1em;
}
#description p, #description ul {
    font-family: Arial;
    width: 87.266666667%;
    text-align: justify;
    margin: 1em auto;
}
.apple_store_link {
    margin: 0 auto;
    display: block;
    width: 135px;
    background: transparent;
}
#iphone_screens {
    @include responsive(ipad-portrait) {
        display: block;
        width: 767px;
        margin: 0 auto;
    }
}

.iphone5 {
    display: block;
    max-width: (644px/2);
    margin: 1em auto;

    @include responsive(ipad-portrait) {
        float: left;
        margin-left: 41px;
    }
}

@import "bottom-boilerplate";
