<div class="transition-page"></div>
<div class="transition-loader"></div>
<script src="/js/default.min.js"></script>
<script>
    window.goatcounter = {no_onload: true}

    window.addEventListener('hashchange', function(e) {
        window.goatcounter.count({
            path: location.pathname + location.search + location.hash,
        })
    })
</script>
<script data-goatcounter="https://fasfewijofa.aurelienbottazini.com/fgw"
        async src="//fasfewijofa.aurelienbottazini.com/fgw.js"></script>
</body>
</html>
