@import "responsive";
@import "fonts";

html, body {
    width: 100%;
    font-family: "Alegreya";
    font-weight: 400;
    line-height: 1.382; //no unit. Line height is not fixed and adapts depending on descendant font-size
    -webkit-hyphens: auto; // Safari 5.1 thru 6, iOS 4.2 thru 6
    -moz-hyphens: auto; // Firefox 16 thru 20
    -ms-hyphens: auto; // IE10
    -o-hyphens: auto; // PRESTO...haha LOL
    hyphens: auto; // W3C standard
}
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
    // http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
}
strong {
    font-family: "Alegreya";
    font-weight: 700;
}

em {
    font-family: "Alegreya";
    font-weight: 400;
    font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility; //enables kerning and ligatures
    color: #222;
}
p, li {
    text-rendering: optimizeLegibility;
}
p {
    margin: 1em auto;
}
p + p {
    text-indent: 1em;
    margin-top: -1em;
}
$small-caps-color: gray !default;
$small-caps-weight: 600 !default;
@mixin smallcaps($color, $font-weight) {
	// depends on the font family.
	// some font-families don’t support small caps
	// or don’t provide them with their web font.
	font-variant: small-caps;
	font-weight: $font-weight;
	text-transform: lowercase;
	color: $color;
}
abbr {
	@include smallcaps($small-caps-color, $small-caps-weight);
	&:hover {
		cursor: help;
	}
}
@mixin white-space($wrap-space) {
	@if $wrap-space == 'pre-wrap' {
		white-space: #{-moz-}$wrap-space; // Firefox 1.0-2.0
		white-space: $wrap-space;       // current browsers
	} @else {
		white-space: $wrap-space;
	}
}

pre code {
    word-wrap: normal;
    @include white-space(pre-wrap);
}

pre {
    @include white-space(pre);
}

code {
    @include white-space(pre);
    font-family: monospace;
}
h1 {
    font-family: "Alegreya Sans";
    font-weight: 700;
}

.js {
    #planete-rouge, #planete-vie, #planete-anneaux, #aurelien-sur-la-lune, #planete-rayures {
        opacity: 0;
    }

    #hello-i-am-aurelien path {
        fill-opacity: 0;
        stroke-opacity: 0;
    }

}
.highlight {
    background-color: #f3cb42;
}

body {
    background: url('../img/stars.png') repeat, url('../img/bleu-marine-texture.jpg') repeat;
    background-size: 588px 594px, 1200px 631px;
    background-attachment: fixed;
    color: #444;
    word-wrap: break-word;
}
a {
    color: #0b2292;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
a:visited {
    color: #6616ed;
}
a:hover, a:active {
             color: #a40612;
         }
/* landing section */

@media (min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
    body {
        background-size: (588px/2) (594px/2), (1200px/2) (631px/2);
    }
}
#landing {
    margin: 0 auto;
    display: block;
    position: relative;

    @include responsive(portrait-phone) {
        width: $width-portrait-phone;
        height: $width-portrait-phone * 1.382;
    };
    @include responsive(landscape-phone) {
        width: $width-landscape-phone;
        height: $width-landscape-phone * 1.382;
    };
    @include responsive(kindle-nook-portrait) {
        width: $width-kindle-nook-portrait;
        height: $width-kindle-nook-portrait * 1.382 ;
    };
    @include responsive(ipad-portrait) {
        width: $width-ipad-portrait;
        height: $width-ipad-portrait * 1.382;
    };
    @include responsive(ipad-landscape) {
        width: $width-ipad-landscape;
        height: $width-ipad-landscape * 1.382;
    };
    @include responsive(widescreen) {
        width: $width-widescreen;
        height: $width-widescreen * 1.382;
    };

}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fixed_menu {
    position: fixed;
    top: 10%;
    left: 10%;

    li {
        margin-bottom: 1em;
    }
}
@mixin planete-rouge($width) {
    @media only screen and (min-width: $width) {
        //width="984.099px" height="1088.74px"
        width: ($width*1088/984) * 0.382 * 0.618;
        height: $width * 0.382 * 0.618;
        top: $width  * 0.382;
        left: $width * 0.618 - ($width * 0.382/2);
    }
}
.fixed_menu #planete-rouge {
    width: 10vw;
    height: (10vw*1088/984);
}
.landing_menu #planete-rouge {
    position: absolute;

    @include planete-rouge($width-portrait-phone);
    @include planete-rouge($width-landscape-phone);
    @include planete-rouge($width-kindle-nook-portrait);
    @include planete-rouge($width-ipad-portrait);
    @include planete-rouge($width-ipad-landscape);
    @include planete-rouge($width-widescreen);
}

@mixin planete-vie($width) {
    @media only screen and (min-width: $width) {
        //width="1179.118px" height="1286.758px"
        width: ($width*1286/1179) * 0.382 * 0.618;
        height: $width * 0.382 * 0.618;
        top: $width * 0.382 * 0.618;
        left: $width * 0.618 + ($width * 0.382 / 3);
    }
}
.fixed_menu #planete-vie {
    width: 10vw;
    height: (10vw*1286/1179);
}
.landing_menu #planete-vie {
    position: absolute;
    @include planete-vie($width-portrait-phone);
    @include planete-vie($width-landscape-phone);
    @include planete-vie($width-kindle-nook-portrait);
    @include planete-vie($width-ipad-portrait);
    @include planete-vie($width-ipad-landscape);
    @include planete-vie($width-widescreen);
}



@mixin hello($width) {
    @media only screen and (min-width: $width) {
        width: $width * 0.618;
        height: (1087*($width * 0.618)/2775);
        left: ($width * 0.382 * 0.618);
        top: ($width * 0.382 * 0.382 * 0.382 * 0.382);
    }
}
#hello {
    position: absolute;
    z-index: 1;

    @include hello($width-portrait-phone);
    @include hello($width-landscape-phone);
    @include hello($width-kindle-nook-portrait);
    @include hello($width-ipad-portrait);
    @include hello($width-ipad-landscape);
    @include hello($width-widescreen);
}
#hello-i-am-aurelien{
    width: 100%;
    height: 100%;
}

@mixin planete-anneaux($width) {
    @media only screen and (min-width: $width) {
        width: $width * 0.382 * 0.382 * 0.382;
        height: $width * 0.382 * 0.382 * 0.382;
        left: $width * 0.382;
        top: ($width * 0.382 * 0.382 * 0.382);
    }
}
#planete-anneaux {
    position: absolute;
    @include planete-anneaux($width-portrait-phone);
    @include planete-anneaux($width-landscape-phone);
    @include planete-anneaux($width-kindle-nook-portrait);
    @include planete-anneaux($width-ipad-portrait);
    @include planete-anneaux($width-ipad-landscape);
    @include planete-anneaux($width-widescreen);
}

@mixin aurelien-animation($width) {
    @media only screen and (min-width: $width) {
        height: $width * 0.382;
        top: $width * 0.382 * 0.382;
        left: ($width * 0.382 / 4);
    }
}

#aurelien-animation {
    position: absolute;
    @include aurelien-animation($width-portrait-phone);
    @include aurelien-animation($width-landscape-phone);
    @include aurelien-animation($width-kindle-nook-portrait);
    @include aurelien-animation($width-ipad-portrait);
    @include aurelien-animation($width-ipad-landscape);
    @include aurelien-animation($width-widescreen);
}

@mixin planete-lune($width) {
    @media only screen and (min-width: $width) {
        width: $width *  0.382;
        height: $width * 0.382;
        top: $width * 0.382 * 0.618 + ($width *  0.382 / 2);
        left: -($width * 0.382 / 3) + ($width * 0.382 / 4);
    }
}
#planete-lune {
    position: absolute;
    overflow: hidden;
    @include planete-lune($width-portrait-phone);
    @include planete-lune($width-landscape-phone);
    @include planete-lune($width-kindle-nook-portrait);
    @include planete-lune($width-ipad-portrait);
    @include planete-lune($width-ipad-landscape);
    @include planete-lune($width-widescreen);
}

@mixin planete-rayures($width) {
    @media only screen and (min-width: $width) {
        height: $width * 0.618 * 0.382 * 0.382 * 0.382;
        width: $width * 0.618 * 0.382 * 0.382 * 0.382;
        top: $width * 0.618;
        left: $width * 0.382;
    }
}
#planete-rayures {
    position: absolute;
    @include planete-rayures($width-portrait-phone);
    @include planete-rayures($width-landscape-phone);
    @include planete-rayures($width-kindle-nook-portrait);
    @include planete-rayures($width-ipad-portrait);
    @include planete-rayures($width-ipad-landscape);
    @include planete-rayures($width-widescreen);
}
// about section
#about, #contact {
    p {
        font-size: 1.2em;
        line-height: 1.6;
    }
}
#bw-aurelien {
    margin: 0 auto;
    width: 100%;
    display: block;
}

#about {
    margin: 0 auto;
    padding-top: 0em;
    padding-bottom: 1em;
    width: 100%;

    h1 {
        text-align: center;
        margin: 0;
        font-size: 3em;
        padding-top: 1em;
        padding-bottom: 0.382em;

    }
    h2 {
        text-align: center;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 1.35em;
    }

    h3 {
        margin: 1em auto;
        font-style: italic;
        font-weight: normal;
        text-indent: 1.382em;
        font-size: 1.2em;
    }

    h3, p {
        width: 80%;

        @include responsive(ipad-portrait) {
            width: 30em;
        };

    }

    ul {
        margin-left: 0em;

        @include responsive(ipad-portrait) {
            margin: 1em auto;
            width: 32em;
        };
    }

}
@mixin about-me($width) {
    @media only screen and (min-width: $width) {
        width: $width * 0.618;
        height: (138*($width * 0.618)/389);
    }
}
#skills {

    li {
        list-style-type: none;
        float: left;
        margin-left: 0.382em;
        margin-bottom: 0.382em;
    }
}
.skill {
    background-color:#ba2323;
    display: inline-block;
    position:relative;
    text-decoration:none;
    color:#fff;
    border: solid 1px #831212;
    background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
    border-radius: 5px;
}
.skill::before {
    background-color: #CCD0D5;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 8px;
    left: -8px;
    top: -8px;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #909193 inset, 0px 1px 0px #FFF;
}

#about {
    background-color: #fffacf;
    margin-bottom: -1.5em;
    padding-bottom: 3em;
}
#about-me {
    margin: 0em auto;
    @include about-me($width-portrait-phone);
    @include about-me($width-landscape-phone);
    @include about-me($width-kindle-nook-portrait);
    @include about-me($width-ipad-portrait);
    @include about-me($width-ipad-landscape);
}


#selected_works {
    img {
        width: 60%;
        margin: 0 auto;
        display: block;
    }

    .screenshot {
        box-shadow: 0px 0.382em 0.382em rgba(0, 0, 0, 0.2);
    }

    .iphone_screens {
        @include responsive(ipad-portrait) {
            display: block;
            width: 767px;
            margin:  0 auto;
        }
    }

    .iphone5 {
        display: block;
        max-width: (644px/2);
        margin: 1em auto;

        @include responsive(ipad-portrait) {
            float: left;
            margin-left: 41px;
        }
    }

    .skill_list {
        li {
            display: inline-block;
            list-style-type: none;
            background-color: #8790dd;
            padding: 0.382em;
            margin-left: 0.382em;
            color: #22252e;
            border: 1px solid rgba(0,0,0,0.15);
            border-radius: 4px;
            margin-bottom: 0.5em;
        }

    }

}
//contact section
#contact {
    background-color: #8790dd;
    color: #22252e;
    position: relative;
    padding-bottom: 3.82%;
    padding-top: 3.82%;
}
.twitter-logo, .github-logo {
    display: block;
    float: left;
    height: 1.3em;
}

@mixin contact-title($width) {
    @media only screen and (min-width: $width) {
        width: $width * 0.618;
        height: (($width * 0.618)*240/502);
    }
}
#contact-title {
    //502 width 240 height
    margin: 0em auto;
    display: block;
    @include about-me($width-portrait-phone);
    @include about-me($width-landscape-phone);
    @include about-me($width-kindle-nook-portrait);
    @include about-me($width-ipad-portrait);
    @include about-me($width-ipad-landscape);
    @include about-me($width-widescreen);

}
#carte_postale {
    // width="499.222px" height="363.424px"
    @media only screen and (min-width: $width-portrait-phone) {
        display:none;
    }
    @media only screen and (min-width: $width-ipad-portrait) {
        display:block;
        width: 61.8%;
        height: (90%*363.424/499.222);
        margin: 0 auto;
    }
}
#contact-me-text {

    width: 80%;
    margin: 0 auto;

    @media only screen and (min-width: $width-ipad-portrait) {
            position: absolute;
            top: 37%;
            left: 24%;
            width: 25%;
    }
}
#contact-me-links {

    font-size: 1.2em;
    width: 90%;

    @media only screen and (min-width: $width-ipad-portrait) {
        position: absolute;
        left: 50%;
        margin: 0px;
        padding: 0;
        top: 58%;
        display: block;
        padding-bot: 0;
        width: 29%;
    }

    li {
        list-style-type: none;
        padding-left: 0.7em;
        height: 1.2em;
        margin-bottom: 1em;
        padding-bottom: 1em;
        overflow: hidden;
        white-space: nowrap;

        @media only screen and (min-width: $width-ipad-portrait) {
            padding-bottom: 0.5em;
            padding-left: 0;
        }
    }
}

#email-link {
    background-image: url('../img/carte-postale-bar1.svg');

}
#twitter-link {
    background-image: url('../img/carte-postale-bar2.svg');
}
#github-link {
    background-image: url('../img/carte-postale-bar3.svg');
}
#email-link, #twitter-link, #github-link {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;
}

#contact-portrait {
    width: 100%;

    @media only screen and (min-width: $width-ipad-portrait) {
        width: 20%;
        position: absolute;
        top: 37.6%;
        left: 58%;
    }
}

footer {
    background-color: #8790dd;
    color: #222;
    text-align: center;
}