
#post-list {
  li {
    margin-bottom: 0.5em;
    line-height: 1em;

    time {
      font-family: 'chunkfiveroman', 'Helvetica Neue', Helvetica, "Trebuchet MS", Arial, sans-serif;
      color: rgba(0,0,0,0.2);
      font-size: 0.8em;
    }
  }
}
