#post-list {
 li {
    list-style-type: none;
    transition: background-color 200ms 50ms,
    color 200ms 50ms,
    transform 200ms 50ms;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &:hover {
      background-color: #8790dd;
      transform: scale(1.1, 1.1);
      color: white;
    }

    a {
      text-decoration: none;
      padding: 0.5em 0 0.5em 0.5em;
      line-height: 1em;
      display: block;
      width: 100%;
      color: currentColor;
      transition: none;
    }
  }
}
.tag {
  font-family: 'Passion One', 'Helvetica Neue', Helvetica, "Trebuchet MS", Arial, sans-serif;
  font-size: 0.8em;
  display: inline-block;
  list-style-type: none;
  background-color: #8790dd;
  padding: 0.382em;
  margin-left: 0.382em;
  color: #22252e;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  margin-bottom: 0.5em;
  text-decoration: none;
  transition: color 200ms 50ms,
  transform 200ms 50ms;
}

.tag:hover {
  transform: scale(1.1, 1.1);
  color: white;
}

time {
  font-family: 'Passion One', 'Helvetica Neue', Helvetica, "Trebuchet MS", Arial, sans-serif;
  color: rgba(0,0,0,0.2);
  font-size: 0.8em;
}
article {
  footer {
    display: flex;
    align-items: baseline;
  }
  ul {
    justify-content: flex-end;
  }
}
.inline-list {
  display: flex;
  flex-direction: row;
  li {
    list-style-type: none;
  }
}

.link {
  text-decoration: underline;
}
