#main_navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  opacity: 0.8;
  color: #fff;
  height: 3em;
  z-index: 1000;
  ul {
    margin-left: 1em;
    padding-left: 0;
    list-style-type: none;

    @include responsive(landscape-phone) {
      margin: 0 auto;
      margin-top: 0.75em;
      width: 40em;
    }

  }
  li {
    float: left;
    margin-right: 1em;
  }

  a {
    color: #afc0fd;
  }

  a:hover, a.active {
    color: #dc322f;
  }

  a.visited {
    color: #f8cefc;
  }

}
