$width-portrait-phone: 320px;
$width-landscape-phone: 480px;
$width-kindle-nook-portrait: 600px;
$width-ipad-portrait: 768px;
$width-ipad-landscape: 1024px;
$width-widescreen: 1400px;

@mixin responsive($width) {
    @if $width == widescreen {
        @media only screen and (min-width: $width-widescreen) { @content; }
    } @else if $width == ipad-landscape {
        @media only screen and (min-width: $width-ipad-landscape) { @content; }
    } @else if $width == ipad-portrait {
        @media only screen and (min-width: $width-ipad-portrait) { @content; }
    } @else if $width == kindle-nook-portrait {
        @media only screen and (min-width: $width-kindle-nook-portrait) { @content; }
    } @else if $width == landscape-phone {
        @media only screen and (min-width: $width-landscape-phone) { @content; }
    } @else if $width == portrait-phone {
        @media only screen and (min-width: $width-portrait-phone) { @content; }
    }
}