@import "top-boilerplate";
@import "responsive";
@import "navigation";
@import "fonts";
body {
    background-color: #22252e;
}
section {
    width: 90%;
    @media only screen and (min-width: 55em) {
        width: 40em;
    }
    margin: 0 auto;
}
ul {
    padding-left: 0;
}
#frame {

    width: 100%;
    margin: 2em auto;
    padding-top: 2em;
    padding-bottom: 2em;
    @media only screen and (min-width: 55em) {
        width: 50em;
        padding: 2em;
        margin-top: 5.5em;
        margin-bottom: 5.5em;
    }

    background-color: #f2f3f3;
    color: #22252e;
}

#intro {
    h1 {
        font-size: 2.1em;
        text-align: left;
        color: #22252e;
    }

    #accroche {
        font-size: 1.7em;
    }
    #portrait_aurelien {
        width: 12.35em;
        margin: 1em auto;
        display: block;
        @media only screen and (min-width: 54em) {
            float: right;
            margin: 0;
            margin-left: 1em;
        }
    }
}
.email {
    font-size: 1em;
    margin-top: -1.5em;
    margin-bottom: 3em;
    font-style: italic;
}
#intro {
    .email {
        margin-left: 1.2em;
    }
}
#skills, #education, #experience, #portfolio {
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.3em;
        color: #22252e;
    }
    h2 {
        margin-bottom: 0;
        font-size: 1.05em;
    }
    p {
        margin-top: 0;
    }
    p + p {
        margin-top: -1em;
    }
}
#skill_list {
    list-style-type: none;
    margin: 1em auto;
    width: 15em;

    @media only screen and (min-width: 54em) {
        width: 30em;
    }

    li {
        float: left;
        margin-right: 0.5em;
        margin-left: 0.5em;
        margin-bottom: 0.5em;
        background-color: #22252e;
        border-radius: 3em;
        height: 2em;
        width: 2em;
        padding: 1em;
        color: #f2f3f3;
        text-align: center;
        line-height: 2em;

        abbr {
            color: #f2f3f3;
        }
    }
}
@import "bottom-boilerplate";

.only_print {
    display: none
}

@media print {
    .print_no_after_content[href]:after {
        content: "";
    }
    .email {
        margin-bottom: 1em;
    }
    .only_print {
        display: block;
        margin-bottom: 3em;
        font-size: 1em;
        font-style: italic
    }
    #main_navigation {
        display: none;
    }
}
