<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/codemirror.css">
        <link rel="stylesheet" href="/css/default.min.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width,
                                       initial-scale=1,
                                       shrink-to-fit=no" >
    </head>
    <body>
        {% include navigation.html %}
        <div id="wrapper">
            {{ content }}
        </div>
        {% include analytics.html %}

        <script>
         window.klipse_settings = {
           selector_eval_js: '.kjs',
           codemirror_options_in: {
             theme: 'zenburnesque'
           }
         };
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.3/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.22.1/ramda.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/immutable/3.8.1/immutable.min.js"></script>
        <script src="/js/klipse_plugin.min.js"></script>
    </body>
</html>
