---
---

@import "top-boilerplate";
@import "responsive";

body {
    font-family: 'Sorts Mill Goudy', serif;
    color: #839496;
    background-color: #fdf6e3;

    @include responsive(kindle-nook-portrait) {
        font-size: 1.3em;
    }
}
a {
    text-decoration: underline;
    color: #0087ff;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
a:hover {
    color: #dc322f;
}
.sticky {position:fixed; top:0;}
#menu {
    padding-left: calc(38.2%/2);
    background-color: #eee8d5;
    width: 100%;
}
#menu ul {
    padding: 0;
    margin: 0;
    padding-top: 0.382em;
    padding-bottom: 0.382em;
    list-style-type: none;
    font-family: 'League Gothic', helvetica;

}
#menu ul li {
    float: left;
    display: block;
    padding-left: 1em;

}
#menu li a {
    text-decoration: none;
    font-size: 1.3em;
    color: #002b36;
}
#menu li a:hover {
    color: #dc322f;
}
h1#title {
    font-family: 'League Gothic', helvetica;
    font-weight: normal;
    font-style: italic;
    line-height: 1;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 3em;
    padding-top: 0.382em;
    padding-bottom: 0.382em;
    background-color: #002b36;
}
#main-column {
    padding-left: 1em;
    padding-right: 1em;
}
#main-column p, #main-column ul {
    width: 87.266666667%;
    text-align: justify;
    margin: 1em auto;
}

#students {
    display: block;
    width: 61.8%;
    margin: 0 auto;
}

#right-column {
    display: none;

    @include responsive(ipad-portrait) {
        display: block;
    }
}

strong {
    color: #0087ff;
}
#flags {
    display: block;
    width: 80%;
    padding: 0;
    margin: 1em auto;
}
#flags li {
    float: left;
    list-style-type: none;
    padding: 3px;
}
#flags li img {
    width: 32px;
}
.apple_store_badge {
    display:block;
    width:135px;
    height: 40px;
    margin: 1em auto;
}
#ipad {
    display: block;
    width: 80%;
    max-width: calc(1250px/2);
    margin: 1em auto;
}

#iphone_screens {
    @include responsive(ipad-portrait) {
        display: block;
        width: 767px;
        margin: 0 auto;
    }
}

.iphone5 {
    display: block;
    max-width: calc(644px/2);
    margin: 1em auto;

    @include responsive(ipad-portrait) {
        float: left;
        margin-left: 41px;
    }
}
@import "bottom-boilerplate";
